*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;

}


body{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:

    radial-gradient(circle at top,#003b70,#020b18);

    color:white;

}



.cadastro-container{


    width:380px;

    padding:40px;

    background:#071d38;

    border-radius:25px;

    border:1px solid #008cff;

    box-shadow:

    0 0 30px rgba(0,140,255,.5);


    text-align:center;


}



h1{


    font-size:38px;

    margin-bottom:10px;


}



h1 span{


    color:#00b7ff;


}



h2{


    margin-bottom:30px;

    color:#bde4ff;


}



input{


    width:100%;

    padding:15px;

    margin-bottom:20px;

    border-radius:12px;

    border:none;

    outline:none;

    background:#061426;

    color:white;

    font-size:16px;


}



input:focus{


    box-shadow:0 0 15px #008cff;


}



button{


    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#008cff;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;


}



button:hover{


    background:#00b7ff;

    transform:scale(1.03);


}



p{


    margin-top:25px;

    color:#c9e8ff;


}



a{


    color:#00b7ff;

    text-decoration:none;


}