*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

background:#050816;
color:white;
padding:40px;

}


.container{

max-width:1000px;
margin:auto;

}


h1{

color:#4da6ff;
margin-bottom:30px;

}


.formulario{

background:#10182f;
padding:25px;
border-radius:15px;
display:flex;
gap:15px;
margin-bottom:30px;

}


input{

padding:12px;
border-radius:8px;
border:none;
outline:none;

}


button{

background:#1e90ff;
color:white;
border:none;
padding:12px 20px;
border-radius:8px;
cursor:pointer;

}


button:hover{

transform:scale(1.05);

}


table{

width:100%;
background:#10182f;
border-radius:15px;
overflow:hidden;

}


th,td{

padding:15px;
text-align:center;

}
.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin:20px 0;
}

.card{
    background:#fff;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    text-align:center;
}

.card h3{
    margin:0;
    font-size:18px;
}

.card h2{
    margin-top:10px;
    color:#2563eb;
    font-size:30px;
}